* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

:root {
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

body {
    background-color: var(--light-grayish-cyan);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    gap: 3rem;
}

header h1 {
    letter-spacing: 0.5rem;
}

main {
    background-color: var(--white);
    display: flex;
    width: 50rem;
    height: 25rem;
    padding: 2rem;
    border-radius: 1rem;
}

.calculation {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1rem;
}

h1 {
    color: var(--dark-grayish-cyan);
}

.calculation h1 {
    font-size: 1rem;
}

.input-container {
    display: flex;
    background-color: var(--very-light-grayish-cyan);
    align-items: center;
    padding-left: 10px;
    width: 20.5rem;
    height: 2.6rem;
    border-radius: 0.2rem;
    border: 2px solid transparent;
    transition: border-color 0.3s ease; 
}


.block {
    background-color: transparent;
    color: var(--very-dark-cyan);
    border: none;
    text-align: right;
    font-size: 24px;
    outline: none;
}

.block::placeholder {
    margin-right: 5px;
}

.input-container:hover, #percent6:hover {
    border: 2px solid var(--strong-cyan);
}

img {
    width: 13px;
    height: 19px;
}


.blocks {
    display: flex;
    flex-direction: column;
    gap:0.4rem;
    
}

.button {
    background-color: var(--very-dark-cyan);
    color: var(--white);
    font-size: 20px;
    width: 6.4rem;
    border-radius: 0.2rem;
    border: none;
    padding: 0.3rem;
}

button:hover {
    background-color: var(--strong-cyan);
}

#percent6 {
    background-color: var(--very-light-grayish-cyan);
    border-radius: 0.2rem;
    font-size: 20px;
    text-align: right;
    color: var(--very-dark-cyan);
    width: 6.4rem;
    padding: 0.3rem;
    border: 2px solid transparent;
    transition: border-color 0.3s ease; 
    outline: none;
}


/* ******************result**************** */

.result {
    width: 50%;
    background-color: var(--very-dark-cyan);
    border-radius: 1rem;
    font-size: 18px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.amount, .total {
    display: flex;
    justify-content: space-between;
}

.left {
    font-size: 1rem;
    color: var(--white);
}

.person {
    color:var(--grayish-cyan);
}

.result span {
    color: var(--strong-cyan);
    font-size: 2.5rem;
    margin-top: -0.8rem;
}

.result button {
    background-color: rgb(4 102 107);
    color: var(--very-dark-cyan);
    margin-top: 3rem;
    width: 17.2rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: 0.3s ease; 
}

.result button:hover {
    background-color: var(--strong-cyan);
    box-shadow: 0px 0px 5px 2px var(--strong-cyan);
}

.attribution {
     font-size: 11px; 
     text-align: center;
}

.attribution a {
     color: hsl(228, 45%, 44%);
}